h1 {
    background-color: rgb(232, 254, 219);
    color: rgb(127, 170, 101); 
    font-family: Times New Roman, serif;
    margin: 40px;
    padding: 10px;
    text-align: center;}

h2 {
    background-color: rgb(251, 251, 251);
    color: rgb(102, 147, 232); 
    font-family: Times New Roman, serif;
    margin: 40px;
    padding: 10px;
    text-align: center;}

div {
    border: 2px solid rgb(0, 0, 0);
    margin-bottom: 20px;
    padding: 20px;}

#About Me {
    margin: 40px;
    padding: 10px;
    text-align: center;}

body {
    background-color: rgb(212, 228, 250);
    font-family: Georgia, serif;
    margin: 0;
    padding: 0px;}

p {
    color: rgb(0, 0, 0);
    font-size: 18px;
    line-height: 1.5;
    margin: 11px 20px; }

a {
    color: rgb(100, 100, 166);
    text-decoration: none;
    margin: 11px 16px;
    padding: 20px;}

#image-container {
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    margin: 11px 16px;
    max-width: 100%;
    height: auto; }

ul {
    list-style-type: disc;
    margin: 11px 16px;
    padding: 20px;}

#interests {
    background-color: rgb(240, 240, 198);
    margin: 40px;
    padding: 10px;}

button {
    background-color: rgb(192, 218, 157);
    margin: 40px;
    padding: 10px;}

.Ex {
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    margin: 40px;
    padding: 10px;}

.purple {
    background-color: rgb(199, 149, 241);
    margin: 40px;
    padding: 10px;}