h1 {
    background-color: rgb(248, 248, 248);
    color: #8bb37d; 
    font-family: Times New Roman, serif;
    margin: 40px;
    padding: 10px;
    text-align: center;}

h2 {
    color: rgb(254, 255, 255); 
    font-family: Times New Roman, serif;
    margin: 40px;
    padding: 10px;
    text-align: center;}

div {
    border: 2px solid rgb(0, 0, 0);
    margin-bottom: 20px;
    padding: 20px;}

#AboutMe {
    background-color: #b5c7a5;
    margin: 40px;
    padding: 10px;
    text-align: center;}

body {
    background-color: #D2E7F9;
    font-family: Georgia, serif;
    margin: 0;
    padding: 0px;}

p {
    color: black;
    font-size: 18px;
    line-height: 1.5;
    margin: 11px 20px; }

a {
    color: #4e7795;
    text-decoration: none;
    margin: 11px 16px;
    padding: 20px;}

#image-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin: 10px 16px;
    padding: 9px;
    max-width: 100%;
    height: auto;}

ul {
    list-style-type: disc;
    margin: 11px 16px;
    padding: 20px;}

#interests {
    background-color: rgb(240, 240, 198);
    margin: 40px;
    padding: 10px;}

button {
    background-color: rgb(192, 218, 157);
    margin: 40px;
    padding: 10px;}

.Ex {
    background-color: white;
    border: 2px solid rgb(0, 0, 0);
    margin: 40px;
    padding: 10px;}

.title {
    background-color: #acc7f5;
    margin: 40px;
    padding: 10px;}

blockquote {
    margin: 20px;
    padding: 10px;}